html{
    font-size: 62.5%;
}


body{
    font-family: 'Roboto', sans-serif;
    color: #ffff;
    font-size: 2rem;
   
}


.background-fixed{
    height: 100vh;
    background-image: url('/assets/imgs/background.png');
    background-size: cover;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.wrapper{
    position: relative;
    z-index: 2;
}